.venv/
__pycache__/
*.pyc

data/
models/

results/cm/
results/probs/
results/history/

results_v1_baseline/
results_v3_53class/

*.h5
*.keras
*.weights.h5

.marimo.toml
__marimo__/

*Zone.Identifier
sprawozdanie/*.aux
sprawozdanie/*.log
sprawozdanie/*.bbl
sprawozdanie/*.blg
sprawozdanie/*.out
sprawozdanie/*.toc
